{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Browse API",
    "description" : "The eBay Buy Browse API lets applications search for items by keyword, category, GTIN or image, retrieve item details, and check item compatibility.",
    "contact" : {
      "name" : "eBay Inc,"
    },
    "license" : {
      "name" : "eBay API License Agreement",
      "url" : "https://developer.ebay.com/join/api-license-agreement"
    },
    "version" : "v1.20.4"
  },
  "servers" : [ {
    "url" : "https://api.ebay.com/buy/browse/v1",
    "description" : "Production"
  } ],
  "paths" : {
    "/item_summary/search" : {
      "get" : {
        "tags" : [ "item_summary" ],
        "summary" : "Search items",
        "description" : "This method searches for eBay items by various query parameters and retrieves summaries of the items. You can search by keyword, category, eBay product ID (ePID), or GTIN, charity ID, or a combination of these.\n\nNote: Only listings where FIXED_PRICE (Buy It Now) is a buying option are returned by default. To retrieve listings that do not have FIXED_PRICE as a buying option, the buyingOptions filter can be used to retrieve those listings.\n\nNote that an auction listing enabled with the Buy it Now feature will initially show AUCTION and FIXED_PRICE as buying options, but if/when that auction listing receives a qualifying bid, only AUCTION remains as a buying option. If this happens, the buyingOptions filter would need to be used to retrieve that auction listing.\nThis method also supports the following:\n- Filtering by the value of one or multiple fields, such as listing format, item condition, price range, location, and more. For the fields supported by this method, refer to the filter parameter.\n- Retrieving the refinements (metadata) of an item, such as item aspects (color, brand) condition, category, etc. using the fieldgroups parameter.\n- Filtering by item aspects and other refinements using the aspect_filter parameter.\n- Filtering for items that are compatible with a specific product, using the compatibility_filter parameter.\n- Creating aspects histograms, which enables shoppers to drill down in each refinement narrowing the search results.\nFor additional information and examples of these capabilities, refer to Browse API in the Buying Integration Guide.\nPagination and sort controls\nThere are pagination controls (limit and offset fields) and sort query parameters that control/sort the data that are returned. By default, results are sorted by Best Match. For more information about Best Match, refer to Best Match.\nRestrictions\nThis method can return a maximum of 10,000 items. For a list of supported sites and other restrictions, refer to API Restrictions.\n\neBay Partner Network: In order to receive a commission for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site.",
        "operationId" : "search",
        "parameters" : [ {
          "name" : "aspect_filter",
          "in" : "query",
          "description" : "This field lets you filter by item aspects. The aspect name/value pairs and category, which is required, is used to limit the results to specific aspects of the item. For example, in a clothing category one aspect pair would be Color/Red.\n\nNote: The category ID must be specified twice:\n- Once as a URI parameter in the category_ids field\n- Once as part of the aspect_filter field\nThese two values must be the same.\nFor example, to return items for a woman's red shirt, issue the following request:\n\n/buy/browse/v1/item_summary/search?q=shirt&category_ids=15724&aspect_filter=categoryId:15724,Color:{Red}\nTo get a list of the aspect pairs and the category, which is returned in the dominantCategoryId field, set fieldgroups to ASPECT_REFINEMENTS as illustrated here:\n/buy/browse/v1/item_summary/search?q=shirt&fieldgroups=ASPECT_REFINEMENTS\nNote: The pipe symbol is used as a delimiter between aspect filter values. If a value contains a pipe symbol (for example, the brand name 'Bed|Stü'), you must enter a backslash before the pipe character to prevent it from being evaluated as a delimiter.\n\nThe following example illustrates the correct format for entering two brand names as aspect filter values, one of which contains a pipe symbol:\n/buy/browse/v1/item_summary/search?limit=50&category_ids=3034&filter=buyingOptions:{AUCTION|FIXED_PRICE}&aspect_filter=categoryId:3034,Brand:{Bed\\|Stü|Nike}\nFor implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/gct:AspectFilter",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "auto_correct",
          "in" : "query",
          "description" : "A query parameter that enables auto correction.\n\nA sample is shown below:\n/buy/browse/v1/item_summary/search?auto_correct=KEYWORD\nNote: Auto correction is currently supported in the following marketplaces:\n- United States\n- Austria\n- Australia\n- Canada\n- Switzerland\n- Germany\n- Spain\n- France\n- United Kingdom\n- Ireland\n- Italy\n\nValid Values: KEYWORD",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "category_ids",
          "in" : "query",
          "description" : "The category ID is used to limit the results that are returned. This field may pass in one category ID or a comma separated list of IDs as illustrated in the following examples:\n/buy/browse/v1/item_summary/search?category_ids=29792\n\n/buy/browse/v1/item_summary/search?category_ids=267,29792\nNote: Currently, you can pass in only one category ID per request.\nTo refine the set of information that is returned, category_ids may be combined with EITHER:\n- epid and/or gtin values\n- q keywords\nFor example, when looking of a toy phone, simply searching for \"phone\" will return mobile phones because that is the \"Best Match\" for the search. To further refine the request to include toy phones, include the Toys & Hobbies category ID as illustrated here:\n/buy/browse/v1/item_summary/search?q=phone&category_ids=220\nBecause the list of eBay category IDs is not published and category IDs are not the same across all eBay marketplaces, category IDs may be determined by:\n- Visiting the Category Changes page\n- Using the Taxonomy API. Refer to Get Categories for Buy APIs for complete information.\n- Issuing the following call to retrieve the dominantCategoryId for an item:\n/buy/browse/v1/item_summary/search?q= keyword&fieldgroups=ASPECT_REFINEMENTS\n\nNote: If a top-level (L1) category is specified, you must also include a q query parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "charity_ids",
          "in" : "query",
          "description" : "The charity ID filters results to return only those items associated with the specified charity.\n\nNote: charity_ids is only supported by the US and UK marketplaces.\nCharity ID is a charity's unique identification number:\n- In the US, this is the Employer Identification Number (EIN).\n- In the UK, this is the Charity Registration Number (CRN), commonly called Charity Number.\n\ncharity_ids may be retrieved/determined as follows:\n- Search for a supported charity using the Charity API's getCharityOrgs method.\n\nImportant! The value to be passed in as charity_ids is that returned in the registrationId field.\n\n- Search for a supported charity by visiting Charity Search. Click on the charity's name to display its information. The EIN number is included in the charity's information block at the top of the page.\n\nFor example, the charity ID for American Red Cross, is 530196605.\nUp to 20 comma-separated charity_ids may be specified in each query. Additionally, charity_ids may be combined with category_ids and/or q keyword values to further filter returned results.\n\nA sample query using charity_ids is:\n\n/buy/browse/v1/item_summary/search?charity_ids=13-1788491,300108469",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "compatibility_filter",
          "in" : "query",
          "description" : "This field specifies the attributes used to define a specific product. The service searches for items matching the keyword, or matching the keyword and a product attribute value in the title of the item.\n\nNote: The only products supported are cars, trucks, and motorcycles.\nFor example, if the keyword is brakes and compatibility-filter=Year:2018;Make:BMW, the items returned are items with brakes, 2018, or BMW in the title.\n\nThe service uses the product attributes to determine whether the item is compatible. The service returns the attributes that are compatible and the CompatibilityMatchEnum value that indicates how well the item matches the attributes.\n\nTip: Refer to the Samples section for a detailed example.\n\nBest Practice: Submit all of the product attributes for the specific product.\n\nTo find the attributes and values for a specific marketplace, use the getCompatibilityProperties method in the Taxonomy API.\n\nFor more information, refer to Check compatibility in the Buying Integration Guide.\n\nNote: Testing in Sandbox is only supported using mock data. Refer to Testing search in the Sandbox for details.\nRequired:\n- q (keyword)\n- One parts-compatibility-supported category ID (such as 33559 Brakes)\n- At least one vehicle attribute name/value pair\nFor implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/gct:CompatibilityFilter",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "epid",
          "in" : "query",
          "description" : "The ePID is the eBay product identifier of a product from the eBay product catalog. This field limits the results to only items in the specified ePID.\n\nUse the product_summary/search method in the Catalog API to search for the ePID of the product.\n\nFor example:\n/buy/browse/v1/item_summary/search?epid=15032\nNote: When constructing a query, epid may be combined with a gtin value. However, do not specify keywords using the q parameter — keywords cannot be used in conjunction with an epid.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fieldgroups",
          "in" : "query",
          "description" : "A comma-separated list of values that controls what is returned in the response. The default is MATCHING_ITEMS, which returns the items that match the keyword or category specified. The other values return data that can be used to create histograms or provide additional information.\n\nValid Values:\n- ASPECT_REFINEMENTS\nThis field group adds the aspectDistributions container to the response.\n\nNote: Information returned by ASPECT_REFINEMENTS is category specific.\n- BUYING_OPTION_REFINEMENTS\nThis field group adds the buyingOptionDistributions container to the response.\n- CATEGORY_REFINEMENTS\nThis field group adds the categoryDistributions container to the response.\n- CONDITION_REFINEMENTS\nThis field group adds the conditionDistributions containers, such as NEW, USED, etc., to the response. Within these groups are multiple states of the condition.\n\nFor example, NEW can be New without tag, New in box, New without box, etc.\n- EXTENDED\nThis field group adds the following fields to the response:\n- shortDescription\n- itemLocation.city\n\n- MATCHING_ITEMS (default value)\nThis field group is intended to be used with one or more of the refinement values listed above. This is used to return the specified refinements and all matching items.\n- FULL\nThis field group returns all refinement containers and all matching items.\nDefault: MATCHING_ITEMS",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "An array of field filters that can be used to limit/customize the result set.\n\nRefer to Buy API Field Filters for additional information and examples of all supported filters.\n\nFor example, to filter shirts based on a specific range of prices, include the filter illustrated here:\n/buy/browse/v1/item_summary/search?q=shirt&filter=price:[10..50]\nFilters may also be combined within a single request as illustrated in the sample below which further refines results to return only those shirts available from specific sellers:\n/buy/browse/v1/item_summary/search?q=shirt&filter=price:[10..50],sellers:{rpseller|bigSal}\nFor implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/cos:FilterField",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "gtin",
          "in" : "query",
          "description" : "This field lets you search for a product by specifying a Global Trade Item Number (GTIN) of the product. Supported GTIN types are UPC, EAN, and ISBN.\n\nFor example:\n\n/buy/browse/v1/item_summary/search?gtin=099482432621\nNote: When constructing a query, gtin value may be combined with an epid value, but neither an epid or gtin value should be combined with a keywords search through the q parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of items from the result set returned in a single page.\n\nNote: If a value is set in the limit field, the value of offset must be either zero or a multiple of the limit value. An error is returned for invalid offset values.\nNote: This method can return a maximum of 10,000 items in one results set.\nMin: 1\n\nMax: 200\n\nDefault: 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Specifies the number of items to skip in the result set. This is used with the limit field to control the pagination of the output.\n\nFor example:\n- If offset is 0 and limit is 10, the method will retrieve items 1-10 from the list of items returned\n- If offset is 10 and limit is 10, the method will retrieve items 11-20 from the list of items returned.\nNote: The value of offset must be either zero or a multiple of the value set in the limit field. An error is returned for invalid offset values.\nNote: This method can return a maximum of 10,000 items in one results set.\nMin: 0\n\nMax: 9,999\n\nDefault: 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A string consisting of one or more keywords used to search for items on eBay.\n\nNote: The * wildcard character is not allowed in this field.\nWhen providing two or more keywords in a single query, the string is processed as follows:\n- When successive keywords are separated by a space, the list of keywords is processed as an AND request. For example, to retrieve items that include both of the keywords iphone AND ipad, submit the following query:\n\n/buy/browse/v1/item_summary/search?q=iphone ipad\n\n- When successive keywords are comma-separated and surrounded by a single pair of parentheses, OR if the keywords are each URL-encoded, the list of keywords is processed as an OR request. For example, to retrieve items that include iphone OR ipad, submit one of the following queries:\n\n/buy/browse/v1/item_summary/search?q=(iphone, ipad)\n\n/buy/browse/v1/item_summary/search?q=%28iphone%2c%20ipad%29\n\nNote: When specifying keywords using the q parameter:\n- Do not include an epid or gtin parameter value as neither can be used in conjunction with a keyword search.\n- Strings longer than 100-characters are truncated.\n\nMaximum length: 100 characters",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies the criteria on which returned items are to be sorted.\n\nItems can be sorted in ascending order based on:\n- Price (sort=price)\nReturned items are sorted based on their total cost (i.e., price + shipping cost).\n\nItems with the lowest combined price are shown first.\n\nWhen sorting by price, it is highly recommended that:\n- The X-EBAY-C-ENDUSERCTX request header is used, and\n- The contextualLocation parameter specifies the delivery country and postal code.\n\nThese values must be URL-encoded.\nRefer to the following example:\nX-EBAY-C-ENDUSERCTX: contextualLocation=country%3DUS%2Czip%3D19406\nDescending price order\nTo sort items from highest price to lowest price insert a minus sign (-) before price as the search criterion:\nsort=-price\n\n- Distance (sort=distance)\nReturned items are sorted based on their distance from the buyer's location.\n\nItems that are closest to the buyer are listed first.\n\nImportant! When sorting by distance, all required pickup filters must be included in the request.\n\n- Date\nItems can be sorted by date based on:\n- Listing date (sort=newlyListed)\nReturned items are sorted based on their itemOriginDate.\n\nNewly listed items are shown first.\n- End date (sort=endingSoonest)\nReturned items are sorted based on the date/time on which their listing is scheduled to end.\n\nItems that are closest to their scheduled ending date/time are shown first.\n\nIf no sort parameter is submitted, the result set is sorted by \"Best Match\". Refer to Optimizing your listings for Best Match for additional information. For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/cos:SortField",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-ENDUSERCTX",
          "in" : "header",
          "description" : "This header is required to support revenue sharing for eBay Partner Network and to improve the accuracy of shipping and delivery time estimations.\n\nFor additional information, refer to Use request headers in the Buying Integration Guide.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-MARKETPLACE-ID",
          "in" : "header",
          "description" : "This header identifies the seller's eBay marketplace. It is required for all marketplaces outside of the US.\n\nNote: If the marketplace ID value is invalid or missing, the default value of EBAY_US is used.\nSee MarketplaceIdEnum for a list of supported marketplaces.\n\nDefault: EBAY_US",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "This header is used to indicate the natural language and locale preferred by the user for the response.\n\nThis header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:\n- When targeting the French locale of the Belgium marketplace, it is required to pass in fr-BE to specify this. If this locale is not specified, the language will default to Dutch.\n- When targeting the French locale of the Canadian marketplace, it is required to pass in fr-CA to specify this. If this locale is not specified, the language will default to English.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Summaries of items matching the search criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchPagedCollection"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "12002" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The {filterName} value is invalid. For the valid values, refer to the API call documentation."
                },
                "12003" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "A seller 'username' provided in the request filters is invalid."
                },
                "12008" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'sort' value is invalid. For the valid values, refer to the API call documentation."
                },
                "12009" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'category_ids' query parameter is invalid."
                },
                "12010" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "There are four filters required for local pickup. 'pickupPostalCode','pickupCountry','pickupRadiusUnit','pickupRadius'. One or more is missing or invalid."
                },
                "12011" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "'deliveryCountry' is a mandatory filter to provide a delivery location. 'deliveryPostalCode' is optional."
                },
                "12012" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "A valid 'price' filter and a valid 'priceCurrency' filter is necessary to filter based on price."
                },
                "12014" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "The 'sellerAccountTypes' filter is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12015" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The postal code filter value is invalid for the specified country and this filter was ignored."
                },
                "12016" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'fieldgroups' value {fieldgroups} is invalid. For the valid values, refer to the API call reference documentation"
                },
                "12017" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'aspect_filter' query parameter must include a categoryId. For information, see the API call reference documentation."
                },
                "12018" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The {aspectFilter} aspect_filter value is invalid. For information, see the API call reference documentation."
                },
                "12021" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'epid' value {epid} is invalid. For information, see the API call reference documentation."
                },
                "12022" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'gtin' value {gtin} is invalid. For information, see the API call reference documentation."
                },
                "12024" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'charity_ids' value {charity_id} is invalid. For more information see the API call reference documentation."
                },
                "12502" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The {compatibilityFilter} compatibility_filter is invalid. For information, see the API call reference documentation."
                },
                "12511" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "Either 'deliveryCountry' or 'deliveryPostalCode' is invalid, hence 'guaranteedDeliveryInDays' filter was ignored."
                },
                "12519" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The '{fieldName}' value '{filterValue}' is not supported with 'deliveryCountry' '{deliveryCountry}' on marketplace '{marketplaceId}'. The region filter will be ignored and results will follow the site's default location behavior."
                },
                "12520" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'conditionIds' filter value is invalid or not supported. For the supported values, refer to the API call documentation."
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "12001" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The call must have a valid 'q', 'category_ids', 'epid' or 'gtin' query parameter."
                },
                "12004" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'offset' value cannot be negative."
                },
                "12005" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'offset' value must be an integer."
                },
                "12006" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'limit' value should be between 1 and 200 (inclusive)."
                },
                "12007" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'limit' value must be an integer value."
                },
                "12023" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "This keyword search results in a response that is too large to return. Either change the keyword or add additional query parameters and/or filters."
                },
                "12025" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'charity_ids' field has exceeded the maximum limit of 20."
                },
                "12026" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'charity_ids' field is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}."
                },
                "12027" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'auto_correct' value is invalid. For the valid values, refer to the API call documentation."
                },
                "12028" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'auto_correct' is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12029" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The maximum number of listings that can be retrieved is 10,000, so your offset value must be less than 10,000. If 10,000 or more listings are matching your search criteria, consider narrowing the scope of your search."
                },
                "12030" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The number of categories in the request has exceeded the limit. Please reduce the number of categories to {allowedMaxCategories} or less."
                },
                "12032" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The number of sellers in the filter has exceeded the limit. Please reduce the number of sellers to 250 or fewer."
                },
                "12033" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'qualifiedPrograms' filter for {filterValue} requires valid 'deliveryPostalCode' and 'deliveryCountry' filter values."
                },
                "12034" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'buyingOptions' filter value {filterValue} is not supported for the sort by {sortOption}. For the supported values, refer to the API call documentation."
                },
                "12503" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "There is no compatibility information found either because there is no compatibility results or the data provided in the compatibility_filter is invalid or insufficient."
                },
                "12504" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "You must provide a category ID that supports fitment."
                },
                "12505" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The following compatibility attributes in the request are not supported: {attributes}."
                },
                "12506" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The category ID submitted does not support fitment."
                },
                "12507" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "To filter by 'guaranteedDeliveryInDays', you must include 'deliveryCountry'."
                },
                "12508" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "To filter by 'guaranteedDeliveryInDays', you must include 'deliveryPostalCode' for the 'deliveryCountry'."
                },
                "12509" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'guaranteedDeliveryInDays' value {guaranteedDeliveryInDays} is invalid for 'deliveryCountry' value {deliveryCountry}.  Valid values for 'guaranteedDeliveryInDays' for {deliveryCountry} must be in the range of {rangeLowerBound} to {rangeUpperBound} inclusive."
                },
                "12510" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'guaranteedDeliveryInDays' filter is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12512" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'qualifiedPrograms' filter for {filterValue} is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12515" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'offset' value must be either zero or a multiple of the 'limit' value."
                },
                "12516" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The ‘q’ value is invalid. It must be longer than one character when using the ‘searchInDescription’ filter."
                },
                "12517" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "Only one item location filter can be applied at a time. Refer to the API call documentation."
                },
                "12518" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'itemLocationRegion' filter value is not supported for the marketplace {marketplaceId}. Valid values are: {validRegionValues}"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "12013" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "Top level category browsing is not allowed. Please provide keywords or more filters for the applied top level category."
                },
                "12019" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "Currently, the {marketplaceId} marketplace is not supported. The supported Marketplaces are: {allowedMarketplaces} ."
                },
                "12020" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "The 'fieldgroups' value {fieldgroups} is invalid when multiple 'category_ids' are specified. Either change the call to have only one value in 'category_ids' or remove the 'fieldgroups'."
                },
                "12513" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "The 'priorityListing' filter for {filterValue} is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12514" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "The 'priorityListing' filter is not supported for the specified sort option. Refer to the API call documentation."
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "12000" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem with an eBay internal system or process. Contact eBay developer support for assistance."
                }
              }
            }
          }
        },
        "security" : [ {
          "api_auth" : [ "https://api.ebay.com/oauth/api_scope" ]
        } ]
      }
    },
    "/item_summary/search_by_image" : {
      "post" : {
        "tags" : [ "item_summary" ],
        "summary" : "Search items by image",
        "description" : "This method searches for eBay items based on a image and retrieves summaries of the items. You pass in a Base64 image in the request payload and can refine the search by category, or with other available filters.\n\nTo get the Base64 image string, you can use sites such as https://codebeautify.org/image-to-base64-converter.\n\nThis method also supports the following:\n- Filtering by the value of one or multiple fields, such as listing format, item condition, price range, location, and more. For the fields supported by this method, refer to the filter parameter.\n- Filtering by item aspects using the aspect_filter parameter.\nFor details and examples of these capabilities, refer to Browse API in the Buying Integration Guide.\nURL Encoding for Parameters\nQuery parameter values need to be URL encoded. For details, refer to URL encoding query parameter values. For readability, code examples in this document have not been URL encoded.\nRestrictions\nThis method can return a maximum of 10,000 items. For a list of supported sites and other restrictions, refer to API Restrictions.\n\neBay Partner Network: In order to receive a commission for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site.",
        "operationId" : "searchByImage",
        "parameters" : [ {
          "name" : "aspect_filter",
          "in" : "query",
          "description" : "This field lets you filter by item aspects. The aspect name/value pairs and category, which is required, is used to limit the results to specific aspects of the item. For example, in a clothing category one aspect pair would be Color/Red.\n\nNote: The category ID must be specified twice:\n- Once as a URI parameter in the category_ids field\n- Once as part of the aspect_filter field\nThese two values must be the same.\nFor example, to return items for a woman's red shirt, issue the following request:\n\n/buy/browse/v1/item_summary/search?q=shirt&category_ids=15724&aspect_filter=categoryId:15724,Color:{Red}\nTo get a list of the aspect pairs and the category, which is returned in the dominantCategoryId field, set fieldgroups to ASPECT_REFINEMENTS as illustrated here:\n/buy/browse/v1/item_summary/search?q=shirt&fieldgroups=ASPECT_REFINEMENTS\nNote: The pipe symbol is used as a delimiter between aspect filter values. If a value contains a pipe symbol (for example, the brand name 'Bed|Stü'), you must enter a backslash before the pipe character to prevent it from being evaluated as a delimiter.\n\nThe following example illustrates the correct format for entering two brand names as aspect filter values, one of which contains a pipe symbol:\n/buy/browse/v1/item_summary/search?limit=50&category_ids=3034&filter=buyingOptions:{AUCTION|FIXED_PRICE}&aspect_filter=categoryId:3034,Brand:{Bed\\|Stü|Nike}\nFor implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/gct:AspectFilter",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "category_ids",
          "in" : "query",
          "description" : "The category ID is used to limit the results that are returned. This field may pass in one category ID or a comma separated list of IDs as illustrated in the following examples:\n/buy/browse/v1/item_summary/searchByImage?category_ids=29792\n\n/buy/browse/v1/item_summary/searchByImage?category_ids=267,29792\nNote: Currently, you can pass in only one category ID per request.\nTo refine the set of information that is returned, category_ids may be combined with other available filters.\n\nBecause the list of eBay category IDs is not published and category IDs are not the same across all eBay marketplaces, category IDs may be determined by:\n- Visiting the Category Changes page\n- Using the Taxonomy API. Refer to Get Categories for Buy APIs for complete information.\n- Issuing the following call to retrieve the dominantCategoryId for an item:\n/buy/browse/v1/item_summary/searchByImage?q= keyword&fieldgroups=ASPECT_REFINEMENTS",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "charity_ids",
          "in" : "query",
          "description" : "The charity ID filters results to return only those items associated with the specified charity.\n\nNote: charity_ids is only supported by the US and UK marketplaces.\nCharity ID is a charity's unique identification number:\n- In the US, this is the Employer Identification Number (EIN).\n- In the UK, this is the Charity Registration Number (CRN), commonly called Charity Number.\n\ncharity_ids may be retrieved/determined as follows:\n- Search for a supported charity using the Charity API's getCharityOrgs method.\n\nImportant! The value to be passed in as charity_ids is that returned in the registrationId field.\n\n- Search for a supported charity by visiting Charity Search. Click on the charity's name to display its information. The EIN number is included in the charity's information block at the top of the page.\n\nFor example, the charity ID for American Red Cross, is 530196605.\nUp to 20 comma-separated charity_ids may be specified in each query. Additionally, charity_ids may be combined with category_ids and/or q keyword values to further filter returned results.\n\nA sample query using charity_ids is:\n\n/buy/browse/v1/item_summary/search?charity_ids=13-1788491,300108469",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fieldgroups",
          "in" : "query",
          "description" : "A comma-separated list of values that controls what is returned in the response. The default is MATCHING_ITEMS, which returns the items that match the keyword or category specified. The other values return data that can be used to create histograms or provide additional information.\n\nValid Values:\n- ASPECT_REFINEMENTS\nThis field group adds the aspectDistributions container to the response.\n\nNote: Information returned by ASPECT_REFINEMENTS is category specific.\n- BUYING_OPTION_REFINEMENTS\nThis field group adds the buyingOptionDistributions container to the response.\n- CATEGORY_REFINEMENTS\nThis field group adds the categoryDistributions container to the response.\n- CONDITION_REFINEMENTS\nThis field group adds the conditionDistributions containers, such as NEW, USED, etc., to the response. Within these groups are multiple states of the condition.\n\nFor example, NEW can be New without tag, New in box, New without box, etc.\n- EXTENDED\nThis field group adds the following fields to the response:\n- shortDescription\n- itemLocation.city\n\n- MATCHING_ITEMS (default value)\nThis field group is intended to be used with one or more of the refinement values listed above. This is used to return the specified refinements and all matching items.\n- FULL\nThis field group returns all refinement containers and all matching items.\nDefault: MATCHING_ITEMS",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "An array of field filters that can be used to limit/customize the result set.\n\nRefer to Buy API Field Filters for the information about available filters.\n\nFor example, to filter shirts based on a specific range of prices, include the filter illustrated here:\n/buy/browse/v1/item_summary/search?q=shirt&filter=price:[10..50]\nFilters may also be combined within a single request as illustrated in the sample below which further refines results to return only those shirts available from specific sellers:\n/buy/browse/v1/item_summary/search?q=shirt&filter=price:[10..50],sellers:{rpseller|bigSal}\nNote: Refer to Buy API Field Filters for additional information and examples of all supported filters. For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/cos:FilterField",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of items from the result set returned in a single page.\n\nNote: If a value is set in the limit field, the value of offset must be either zero or a multiple of the limit value. An error is returned for invalid offset values.\nNote: This method can return a maximum of 10,000 items in one results set.\nMin: 1\n\nMax: 200\n\nDefault: 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Specifies the number of items to skip in the result set. This is used with the limit field to control the pagination of the output.\n\nFor example:\n- If offset is 0 and limit is 10, the method will retrieve items 1-10 from the list of items returned\n- If offset is 10 and limit is 10, the method will retrieve items 11-20 from the list of items returned.\nNote: The value of offset must be either zero or a multiple of the value set in the limit field. An error is returned for invalid offset values.\nNote: This method can return a maximum of 10,000 items in one results set.\nMin: 0\n\nMax: 9,999\n\nDefault: 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Note: This call currently returns results in a best-match order. This query parameter presently has no practical use. For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/cos:SortField",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-ENDUSERCTX",
          "in" : "header",
          "description" : "This header is required to support revenue sharing for eBay Partner Network and to improve the accuracy of shipping and delivery time estimations.\n\nFor additional information, refer to Use request headers in the Buying Integration Guide.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-MARKETPLACE-ID",
          "in" : "header",
          "description" : "This header identifies the seller's eBay marketplace. It is required for all marketplaces outside of the US.\n\nNote: If the marketplace ID value is invalid or missing, the default value of EBAY_US is used.\nSee MarketplaceIdEnum for a list of supported marketplaces.\n\nDefault: EBAY_US",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "This header indicates the format of the request body provided by the client. Its value should be set to application/json.\n\nFor more information, refer to HTTP request headers.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "This header is used to indicate the natural language and locale preferred by the user for the response.\n\nThis header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:\n- When targeting the French locale of the Belgium marketplace, it is required to pass in fr-BE to specify this. If this locale is not specified, the language will default to Dutch.\n- When targeting the French locale of the Canadian marketplace, it is required to pass in fr-CA to specify this. If this locale is not specified, the language will default to English.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The container for the image information fields.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchByImageRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Summaries of items matching the image",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchPagedCollection"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "12002" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The {filterName} value is invalid. For the valid values, refer to the API call documentation."
                },
                "12003" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "A seller 'username' provided in the request filters is invalid."
                },
                "12008" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'sort' value is invalid. For the valid values, refer to the API call documentation."
                },
                "12009" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'category_ids' query parameter is invalid."
                },
                "12010" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "There are four filters required for local pickup. 'pickupPostalCode','pickupCountry','pickupRadiusUnit','pickupRadius'. One or more is missing or invalid."
                },
                "12011" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "'deliveryCountry' is a mandatory filter to provide a delivery location. 'deliveryPostalCode' is optional."
                },
                "12012" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "A valid 'price' filter and a valid 'priceCurrency' filter is necessary to filter based on price."
                },
                "12014" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "The 'sellerAccountTypes' filter is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12015" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The postal code filter value is invalid for the specified country and this filter was ignored."
                },
                "12016" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'fieldgroups' value {fieldgroups} is invalid. For the valid values, refer to the API call reference documentation"
                },
                "12017" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'aspect_filter' query parameter must include a categoryId. For information, see the API call reference documentation."
                },
                "12018" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The {aspectFilter} aspect_filter value is invalid. For information, see the API call reference documentation."
                },
                "12024" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'charity_ids' value {charity_id} is invalid. For more information see the API call reference documentation."
                },
                "12031" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The following filter(s) is/are not supported by this operation: {unsupportedFilters}. For more information see the API call reference documentation."
                },
                "12511" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "Either 'deliveryCountry' or 'deliveryPostalCode' is invalid, hence 'guaranteedDeliveryInDays' filter was ignored."
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "12004" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'offset' value cannot be negative."
                },
                "12005" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'offset' value must be an integer."
                },
                "12006" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'limit' value should be between 1 and 200 (inclusive)."
                },
                "12007" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'limit' value must be an integer value."
                },
                "12025" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'charity_ids' field has exceeded the maximum limit of 20."
                },
                "12026" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'charity_ids' field is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}."
                },
                "12029" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The maximum number of listings that can be retrieved is 10,000, so your offset value must be less than 10,000. If 10,000 or more listings are matching your search criteria, consider narrowing the scope of your search."
                },
                "12030" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The number of categories in the request has exceeded the limit. Please reduce the number of categories to {allowedMaxCategories} or less."
                },
                "12032" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The number of sellers in the filter has exceeded the limit. Please reduce the number of sellers to 250 or fewer."
                },
                "12033" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'qualifiedPrograms' filter for {filterValue} requires valid 'deliveryPostalCode' and 'deliveryCountry' filter values."
                },
                "12034" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'buyingOptions' filter value {filterValue} is not supported for the sort by {sortOption}. For the supported values, refer to the API call documentation."
                },
                "12500" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "This image search results in a response that is too large to return. Either change the image or add additional query parameters and/or filters."
                },
                "12501" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The image data is empty, is not Base64 encoded, or is invalid."
                },
                "12507" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "To filter by 'guaranteedDeliveryInDays', you must include 'deliveryCountry'."
                },
                "12508" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "To filter by 'guaranteedDeliveryInDays', you must include 'deliveryPostalCode' for the 'deliveryCountry'."
                },
                "12509" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'guaranteedDeliveryInDays' value {guaranteedDeliveryInDays} is invalid for 'deliveryCountry' value {deliveryCountry}.  Valid values for 'guaranteedDeliveryInDays' for {deliveryCountry} must be in the range of {rangeLowerBound} to {rangeUpperBound} inclusive."
                },
                "12510" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'guaranteedDeliveryInDays' filter is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12512" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'qualifiedPrograms' filter for {filterValue} is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12515" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'offset' value must be either zero or a multiple of the 'limit' value."
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "12013" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "Top level category browsing is not allowed. Please provide keywords or more filters for the applied top level category."
                },
                "12019" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "Currently, the {marketplaceId} marketplace is not supported. The supported Marketplaces are: {allowedMarketplaces} ."
                },
                "12020" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "The 'fieldgroups' value {fieldgroups} is invalid when multiple 'category_ids' are specified. Either change the call to have only one value in 'category_ids' or remove the 'fieldgroups'."
                },
                "12513" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "The 'priorityListing' filter for {filterValue} is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                },
                "12514" : {
                  "domain" : "API_BROWSE",
                  "category" : "BUSINESS",
                  "description" : "The 'priorityListing' filter is not supported for the specified sort option. Refer to the API call documentation."
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "12000" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem with an eBay internal system or process. Contact eBay developer support for assistance."
                }
              }
            }
          }
        },
        "security" : [ {
          "api_auth" : [ "https://api.ebay.com/oauth/api_scope" ]
        } ]
      }
    },
    "/item/{item_id}" : {
      "get" : {
        "tags" : [ "item" ],
        "summary" : "Get item",
        "description" : "This method retrieves the details of a specific item, such as description, price, category, all item aspects, condition, return policies, seller feedback and score, shipping options, shipping costs, estimated delivery, and other information the buyer needs to make a purchasing decision.\n\nThe Buy APIs are designed to let you create an eBay shopping experience in your app or website. This means you will need to know when something, such as the availability, quantity, etc., has changed in any eBay item you are offering. This is easily achieved by setting the fieldgroups URI parameter to one of the following values:\n- COMPACT\nReduces the response to only those fields necessary in order to determine if any item detail has changed. This field group must be used alone.\n- PRODUCT\nAdds fields to the default response that return information about the product/item. This field group may also be used in conjunction with ADDITIONAL_SELLER_DETAILS.\n- ADDITIONAL_SELLER_DETAILS\nAdds an additional field to the response that returns the seller's user ID. This field group may also be used in conjunction with PRODUCT.\n- CHARITY_DETAILS\nAdds additional fields to the response that return charity information associated with the item, if applicable.\nFor additional information, refer to fieldgroups.\nRestrictions\nFor a list of supported sites and other restrictions, refer to API Restrictions.\n\neBay Partner Network: In order to be commissioned for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site.",
        "operationId" : "getItem",
        "parameters" : [ {
          "name" : "fieldgroups",
          "in" : "query",
          "description" : "This parameter controls what is returned in the response. If this field is not set, the method returns all the details of the item.\n\nNote: Multiple fieldgroups can be set and applied simultaneously. However, COMPACT must be used alone. Otherwise, an error will occur.\nValid Values:\n- PRODUCT\nThis field group adds the product container to the response.\n- COMPACTThis field group returns only the following fields which let you quickly check if the availability or price of the item has changed, if the item has been revised by the seller, or if an item's top-rated plus status has changed for items you have stored.\n- itemId\n- bidCount\n- currentBidPrice\n- eligibleForInlineCheckout\n- estimatedAvailabilities\n- gtin\n- immediatePay\n- itemAffiliateWebURL\n- itemCreationDate\n- itemWebUrl\n- legacyItemId\n- minimumPriceToBid\n- price\n- priorityListing\n- reservePriceMet\n- sellerItemRevision\n- shippingOptions\n- taxes\n- topRatedBuyingExperience\n- uniqueBidderCount\nFor Example:\nTo determine if a stored item's information is current, perform the following:\n- Pass in the item ID and set fieldgroups to COMPACT.\nitem/v1|4**********8|0?fieldgroups=COMPACT\n\n- Do one of the following:\n- If sellerItemRevision is returned and a revision number for this item has not been stored, record the number and pass in the item ID in the getItem method to retrieve the most recent information.\n- If the revision number is different from the value you have stored, update the value and pass in the item ID in the getItem method to retrieve the most recent information.\n- If sellerItemRevision is not returned or has not changed, where needed, update the item information with the information returned in the response.\n\n- ADDITIONAL_SELLER_DETAILS\nThis adds the userId field to the response.\n- CHARITY_DETAILS\nThis adds the the charityTerms container to the response, if applicable.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "item_id",
          "in" : "path",
          "description" : "This path parameter specifies the unique RESTful identifier of the item being retrieved.\n\nRESTful Item ID Format: v1|#|#\n\nFor a single SKU listing, pass in the item ID:\nv1|2**********2|0\nFor a multi-SKU listing, pass in the identifier of the variation:\nv1|1**********2|4**********2\n\nFor more information about item IDs for RESTful APIs, refer to Item ID legacy API compatibility overview in the Buying Integration Guide.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-ENDUSERCTX",
          "in" : "header",
          "description" : "This header is can be used in following two situations:\n\n- To retrieve the itemAffiliateWebUrl field in the response, the ePN affiliate can pass in their affiliate credentials using this header. For more information, see Header for affiliate information.\n- If the listing is using calculated or flat-rate shipping with shipping rate tables, the user can use this header to provide country and postal code in order for the shippingOption container, which includes shipping costs and delivery estimates, to be returned. For more information, see Header for shipping information accuracy.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-MARKETPLACE-ID",
          "in" : "header",
          "description" : "This header identifies the seller's eBay marketplace. It is required for all marketplaces outside of the US.\n\nNote: If the marketplace ID value is invalid or missing, the default value of EBAY_US is used.\nSee MarketplaceIdEnum for a list of supported marketplaces.\n\nDefault: EBAY_US",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "This header is used to indicate the natural language and locale preferred by the user for the response.\n\nThis header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:\n- When targeting the French locale of the Belgium marketplace, it is required to pass in fr-BE to specify this. If this locale is not specified, the language will default to Dutch.\n- When targeting the French locale of the Canadian marketplace, it is required to pass in fr-CA to specify this. If this locale is not specified, the language will default to English.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "quantity_for_shipping_estimate",
          "in" : "query",
          "description" : "This query parameter sets the item quantity to be used when calculating the shipping estimate information returned in the shippingOptions container of the response.\n\nThis value must be a positive integer value and should not exceed the quantity available in the listing. This field is not recommended for auction listings, as they will always have a quantity of 1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of the requested item",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Item"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "11502" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem extracting product information for this Item. Please try again."
                },
                "11508" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "This seller is currently away. If you make a purchase, please allow additional time for your order to be processed."
                },
                "11509" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "This seller is currently away until {sellerReturnDate}. If you make a purchase, please allow additional time for your order to be processed."
                },
                "11510" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem calculating the shipping cost. Please try again."
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "11001" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The specified item ID was not found."
                },
                "11002" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The specified item group was not found."
                },
                "11004" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The item is not available for purchase. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again."
                },
                "11005" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The item group ID is invalid. Use {itemHref} to get the item details."
                },
                "11008" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The item group is not available. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again."
                },
                "11011" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The marketplace value {marketplaceId} is not supported. The supported values are: {allowedMarketplaces}"
                },
                "11012" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The specified item IDs are invalid, or the format of the specified values are invalid."
                },
                "11013" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The specified group IDs are invalid, or the format of the specified values are invalid."
                },
                "11014" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "An item_ids and an item_group_ids list cannot be used at same time. Please use only one of these lists."
                },
                "11015" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The maximum number of item ids has been exceeded. Please reduce the number of item ids to {maxAllowedItemIds} or less."
                },
                "11016" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The maximum number of item group IDs has been exceeded. Please reduce the number of item group ids to {maxAllowedItemGroupIds} or less."
                },
                "11018" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The specified fieldgroups are invalid. The COMPACT fieldgroup cannot be combined with another fieldgroup."
                },
                "11019" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The quantity_for_shipping_estimate value {quantityForShippingEstimate} is invalid. Please enter a positive value."
                },
                "11501" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'fieldgroups' value(s) are invalid: {fieldgroups}. The supported fieldgroups are: {supportedFieldgroups}"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "11000" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem with an eBay internal system or process. Contact eBay developer support for assistance."
                }
              }
            }
          }
        },
        "security" : [ {
          "api_auth" : [ "https://api.ebay.com/oauth/api_scope" ]
        } ]
      }
    },
    "/item/get_item_by_legacy_id" : {
      "get" : {
        "tags" : [ "item" ],
        "summary" : "Get item by legacy ID",
        "description" : "This method is a bridge between the eBay legacy APIs, such as Shopping and Finding, and the eBay Buy APIs. There are differences between how legacy APIs and RESTful APIs return the identifier of an \"item\" and what the item ID represents. This method lets you use the legacy item ids retrieve the details of a specific item, such as description, price, and other information the buyer needs to make a purchasing decision. It also returns the RESTful item_id, which you can use with all the Buy API methods.\n\nFor additional information about how to use legacy ids with the Buy APIs, refer to Item ID legacy API compatibility overview in the Buying Integration guide.\nThis method returns the item details and requires you to pass in either the item_id of a non-variation item or the item_id values for both the parent and child of an item group.\n\nNote: An item group is an item that has various aspect differences, such as color, size, storage capacity, etc.When an item group is created, one of the item variations, such as the red shirt size L, is chosen as the \"parent\". All other items in the group are the children, such as the blue shirt size L, red shirt size M, etc.\n\nThe fieldgroups URI parameter lets you control what is returned in the response:\n- Setting fieldgroups to PRODUCT adds additional fields to the default response that return information about the product of the item.\n- Setting the fieldgroups to ADDITIONAL_SELLER_DETAILS adds an additional field to the response that returns the seller's user ID.\n- Setting the fieldgroups to CHARITY_DETAILS adds additional fields to the response that return charity information associated with the item, if applicable.\nThese fieldgroups can be used independently or at the same time. For additional information, refer to fieldgroups.\nRestrictions\nFor a list of supported sites and other restrictions, refer to API Restrictions.\n\neBay Partner Network: In order to be commissioned for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site.",
        "operationId" : "getItemByLegacyId",
        "parameters" : [ {
          "name" : "fieldgroups",
          "in" : "query",
          "description" : "This field controls what is returned in the response. If this field is not set, the method returns all details about the item. Multiple fieldgroups can be set.\n\nValid Values:\n- PRODUCT\nThis field group adds the product container to the response.\n- ADDITIONAL_SELLER_DETAILS\nThis field group adds the userId field to the response.\n- CHARITY_DETAILS\nThis field group adds the the charityTerms container to the response, if applicable.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "legacy_item_id",
          "in" : "query",
          "description" : "This query parameter is the unique identifier that specifies the item being retrieved.\n\nNote: When passing in the ID for a multi-variation listing, you must also use the legacy_variation_id field and pass in the ID of the specific item variation. If not, all variation within the multi-SKU listing will be retrieved.\n\nThe following is an example of using the value of the ItemID field for a specific item to get the RESTful itemId value.\nbrowse/v1/item/get_item_by_legacy_id?legacy_item_id=1**********9",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "legacy_variation_id",
          "in" : "query",
          "description" : "This query parameter specifies the legacy item ID of a specific item in a multi-variation listing, such as that for the red shirt size L item.\n\nImportant! A legacy_item_id value must always be passed in when specifying a legacy_variation_id value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "legacy_variation_sku",
          "in" : "query",
          "description" : "This query parameter specifies the legacy SKU of an item. SKUs are the unique identifiers of an item created by the seller.\n\nThe following is an example of using the value of the ItemID and SKU fields to get the RESTful itemId value.\nbrowse/v1/item/get_item_by_legacy_id?legacy_item_id=1**********9&legacy_variation_sku=V**********M\n\nImportant! A legacy_item_id value must always be passed in when specifying a legacy_variation_sku value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-ENDUSERCTX",
          "in" : "header",
          "description" : "This header is can be used in following two situations:\n\n- To retrieve the itemAffiliateWebUrl field in the response, the ePN affiliate can pass in their affiliate credentials using this header. For more information, see Header for affiliate information.\n- If the listing is using calculated or flat-rate shipping with shipping rate tables, the user can use this header to provide country and postal code in order for the shippingOption container, which includes shipping costs and delivery estimates, to be returned. For more information, see Header for shipping information accuracy.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-MARKETPLACE-ID",
          "in" : "header",
          "description" : "This header identifies the seller's eBay marketplace. It is required for all marketplaces outside of the US.\n\nNote: If the marketplace ID value is invalid or missing, the default value of EBAY_US is used.\nSee MarketplaceIdEnum for a list of supported marketplaces.\n\nDefault: EBAY_US",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "This header is used to indicate the natural language and locale preferred by the user for the response.\n\nThis header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:\n- When targeting the French locale of the Belgium marketplace, it is required to pass in fr-BE to specify this. If this locale is not specified, the language will default to Dutch.\n- When targeting the French locale of the Canadian marketplace, it is required to pass in fr-CA to specify this. If this locale is not specified, the language will default to English.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "quantity_for_shipping_estimate",
          "in" : "query",
          "description" : "This query parameter sets the item quantity to be used when calculating the shipping estimate information returned in the shippingOptions container of the response.\n\nThis value must be a positive integer value and should not exceed the quantity available in the listing. This field is not recommended for auction listings, as they will always have a quantity of 1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of the item matching the legacy ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Item"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "11502" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem extracting product information for this Item. Please try again."
                },
                "11508" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "This seller is currently away. If you make a purchase, please allow additional time for your order to be processed."
                },
                "11509" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "This seller is currently away until {sellerReturnDate}. If you make a purchase, please allow additional time for your order to be processed."
                },
                "11510" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem calculating the shipping cost. Please try again."
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "11003" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The specified legacy item ID was not found."
                },
                "11004" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The item is not available for purchase. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again."
                },
                "11006" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The legacy ID is invalid. Use {itemGroupHref} to get the item group details."
                },
                "11009" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The legacy variation sku is invalid."
                },
                "11010" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "You cannot submit legacy_variation_sku and legacy_variation_id in the same request. For help, see the documentation."
                },
                "11011" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The marketplace value {marketplaceId} is not supported. The supported values are: {allowedMarketplaces}"
                },
                "11019" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The quantity_for_shipping_estimate value {quantityForShippingEstimate} is invalid. Please enter a positive value."
                },
                "11501" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The 'fieldgroups' value(s) are invalid: {fieldgroups}. The supported fieldgroups are: {supportedFieldgroups}"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "11000" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem with an eBay internal system or process. Contact eBay developer support for assistance."
                }
              }
            }
          }
        },
        "security" : [ {
          "api_auth" : [ "https://api.ebay.com/oauth/api_scope" ]
        } ]
      }
    },
    "/item/" : {
      "get" : {
        "tags" : [ "item" ],
        "summary" : "Get multiple items",
        "description" : "This method retrieves the details about specific items that buyers need to make a purchasing decision.\n\nNote: This is a (Limited Release) available only to select Partners.\n\nFor this method, only the following fields are returned: bidCount, currentBidPrice, eligibleForInlineCheckout, enabledForGuestCheckout, estimatedAvailabilities, gtin, immediatePay, itemAffiliateWebUrl, itemCreationDate, itemEndDate, itemId, itemWebUrl, legacyItemId, minimumPriceToBid, price, priorityListing, reservePriceMet, sellerItemRevision, taxes, topRatedBuyingExperience, and uniqueBidderCount.\n\nThe array shippingOptions, which comprises multiple fields, is also returned if the X-EBAY-C-ENDUSERCTX header is supplied.\nRestrictions\nFor a list of supported sites and other restrictions, refer to API Restrictions.\n\neBay Partner Network: In order to be commissioned for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site.",
        "operationId" : "getItems",
        "parameters" : [ {
          "name" : "item_ids",
          "in" : "query",
          "description" : "A comma separated list of the unique identifiers of the items to retrieve (maximum 20).\n\nNote: In any given request, either item_ids or item_group_ids can be retrieved. Attempting to retrieve both will result in an error.\nRESTful Item ID Format: v1|#|#\n\nFor a single SKU listing, pass in the item ID:\nv1|2**********2|0\nFor a multi-SKU listing, pass in the identifier of the variation:\nv1|1**********2|4**********2\n\nFor more information about item IDs for RESTful APIs, refer to Item ID legacy API compatibility overview in the Buying Integration Guide.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "item_group_ids",
          "in" : "query",
          "description" : "A comma separated list of the unique identifiers of the item groups being retrieved (maximum 10).\n\nNote: In any given request, either item_ids or item_group_ids can be retrieved. Attempting to retrieve both will result in an error.\nRESTful Group Item ID Format: ############\n\nFor example:\n3**********9",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-ENDUSERCTX",
          "in" : "header",
          "description" : "This header is can be used in following two situations:\n\n- To retrieve the itemAffiliateWebUrl field in the response, the ePN affiliate can pass in their affiliate credentials using this header. For more information, see Header for affiliate information.\n- If the listing is using calculated or flat-rate shipping with shipping rate tables, the user can use this header to provide country and postal code in order for the shippingOption container, which includes shipping costs and delivery estimates, to be returned. For more information, see Header for shipping information accuracy.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-EBAY-C-MARKETPLACE-ID",
          "in" : "header",
          "description" : "This header identifies the seller's eBay marketplace. It is required for all marketplaces outside of the US.\n\nNote: If the marketplace ID value is invalid or missing, the default value of EBAY_US is used.\nSee MarketplaceIdEnum for a list of supported marketplaces.\n\nDefault: EBAY_US",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "This header is used to indicate the natural language and locale preferred by the user for the response.\n\nThis header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:\n- When targeting the French locale of the Belgium marketplace, it is required to pass in fr-BE to specify this. If this locale is not specified, the language will default to Dutch.\n- When targeting the French locale of the Canadian marketplace, it is required to pass in fr-CA to specify this. If this locale is not specified, the language will default to English.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "quantity_for_shipping_estimate",
          "in" : "query",
          "description" : "This query parameter sets the item quantity to be used when calculating the shipping estimate information returned in the shippingOptions container of the response.\n\nThis value must be a positive integer value and should not exceed the quantity available in the listing. This field is not recommended for auction listings, as they will always have a quantity of 1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of the requested items",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Items"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "11502" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem extracting product information for this item. Please try again."
                },
                "11508" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "This seller is currently away. If you make a purchase, please allow additional time for your order to be processed."
                },
                "11509" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "This seller is currently away until {sellerReturnDate}. If you make a purchase, please allow additional time for your order to be processed."
                },
                "11510" : {
                  "domain" : "API_BROWSE",
                  "category" : "APPLICATION",
                  "description" : "There was a problem calculating the shipping cost. Please try again."
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "x-response-codes" : {
              "errors" : {
                "11001" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The specified item ID was not found."
                },
                "11002" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The specified item group was not found."
                },
                "11004" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The item group is not available. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again."
                },
                "11005" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The item group ID is invalid. Use {itemHref} to get the item details."
                },
                "11008" : {
                  "domain" : "API_BROWSE",
                  "category" : "REQUEST",
                  "description" : "The item group is not available. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again."
                },
                "11011" : {
                  "domain" : "API_BROWSE",
[...]
